* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.listNav {
  display: flex;
  padding: 5px;
  list-style-type: none;
}

.listNav li {
  padding-right: 10px;
  margin-right: 10px;
}

.listNav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar {
  background-color: white;
  font-family: Arial;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage {
  background-image: url("liburan.jpg");
  opacity: 0.8;
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage h1{
  margin-top: -455px;
  font-size: 75px;
  font-family: Lucida Handwriting;
  color: white;
}

.listSewa {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2Sewa{
  margin-top: -280px;
  height: 100px;
  width: 350px;
  text-align: center;
}

.listSewa h2 {
  font-family: Arial;
}